---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { ModeToggle } from '@/components/ModeToggle';
import { Button } from "@/components/ui/button"
---


<Layout 
	title="Welcome to my website!"
	description="Main Page for Adrian Zapien's portfolio website">

	<main>
		</svg><ModeToggle client:load />
		<h1 class="text-gradient">Welcome to my website</h1>
		<p class="instructions" >
			Hello! I'm Adrian Zapien, an aspiring engineer. I'm currently learning how to write my own website
			from scratch using Astro, React, & Tailwind. I'm excited to share my progress with you!
			Please be patient as I continue to learn and grow. If you're looking for 
			my knowledge/project repository, you can find it <strong><a href="https://docs.zapien.dev/">by clicking here</a></strong>		
		</p>
		<body>
		</body>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}

	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
